/* Define custom CSS variables for colors, transitions, and other values. */
:root {
  --basic-color: #ffffff;
  --basic-color-light: #ffffff80;
  --accent-color: pink;
  --accent-color-light: rgba(255, 192, 203, 0.568);

  --z-index-above-slide: 5;
  --element-transition-time: 0.1s;

  --number-of-slides: 5;
}

/* Define the text selection styles. */
::selection {
  color: var(--accent-color);
  background-color: var(--basic-color);
  color: #7482ce91;
}

/* Apply a global reset for margin, padding, and box-sizing. */
*,
*:link,
*::after,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove text decoration for links. */
a,
a:visited,
a:hover {
  text-decoration: none;
}

/* Remove horizontal scrollbar and hide overflow for the body. */
html,
body {
  scrollbar-width: none;
  overflow-x: hidden;
}

/* Remove scrollbar for WebKit-based browsers. */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Define styles for a custom font with variable settings. */
.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--basic-color);
}

/* Set the base font size for the HTML element. */
html {
  font-size: 62.5%;
}

/* Define general styles for the body, including font size and text color. */
body {
  box-sizing: border-box;
  font-size: 1.6em;
  color: var(--basic-color);
}

/* Style the header, navigation buttons, and descriptions. */
header.page-header,
.switch-btns,
.descriptions {
  position: absolute;
}

/* Styles for the header and navigation buttons. */
header.page-header,
.switch-btns {
  width: 100%;
  display: flex;
}

header.page-header {
  z-index: var(--z-index-above-slide);
  margin: 3rem 0 0 5rem;
}

.page-header__topic--text {
  font-family: "Satisfy", Courier, monospace;
  font-size: 3rem;
  transition: color 0.8s;
}

/* Styles for the descriptions and SVG elements. */
.descriptions {
  z-index: calc(var(--z-index-above-slide) - 3);
  right: -7vw;
}

/* Styles for the text within the descriptions. */
.description__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 35%;
  transition: opacity 1s ease, d 1s ease-out;
  font-family: "Tsukimi Rounded", Courier, monospace;
  text-align: center;
}

.description__svg:not(:first-child) {
  display: none;
}

/* Styles for the  SVG elements within the description. */
.description__svg {
  position: absolute;
  top: 1vh;
  right: -50%;
  transition: opacity 1s ease, d 1s ease-out, fill 0.8s;
}

/* Styles for the active blob target. */
#blobTarget.description__svg {
  fill: var(--accent-color-light);
}

/* Styles for the image slideshow. */
.image-slideshow {
  width: calc(100vw * var(--number-of-slides));
  display: flex;
  transition: transform 0.8s;
}

.slideshows {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.slideshows.img-1 {
  background-image: url("../images/Icon-G2-Concept-Hypercar.jpg");
}
.slideshows.img-2 {
  background-image: url("../images/Alpine-Alpenglow-concept-car.jpg");
}
.slideshows.img-3 {
  background-image: url("../images/Jackson-Storm.jpg");
}
.slideshows.img-4 {
  background-image: url("../images/Tauro-2030.jpg");
}
.slideshows.img-5 {
  background-image: url("../images/Viritech-Apricale.jpg");
}

/* Styles for navigation buttons. */
.switch-btns {
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 3rem;
  z-index: var(--z-index-above-slide);
}

.switch-btns__direction {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--basic-color);
  background-color: transparent;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: box-shadow var(--element-transition-time),
    transform calc(var(--element-transition-time) + 0.1s),
    border var(--element-transition-time);
}

.switch-btns__direction:hover {
  border-color: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0rem 1rem 5rem var(--accent-color-light);
}
.switch-btns__direction:hover > .switch-btns__icons {
  color: var(--accent-color);
}

.switch-btns__icons {
  color: var(--basic-color);
  font-size: 2.5rem;
  backface-visibility: hidden;
  transition: font-size var(--element-transition-time),
    color var(--element-transition-time);
}

.switch-btn__circles {
  position: absolute;
  bottom: 17%;
  right: 20%;
  display: flex;
  align-items: center;
  z-index: var(--z-index-above-slide);
}
.switch-btn__circles--item {
  background-color: var(--basic-color);
  height: 10px;
  width: 10px;
  transform-origin: center;
  cursor: pointer;
  /* border-radius: 50%; */
  transition: width 0.3s;
}

.switch-btn__circles--item:not(:last-child) {
  margin-right: 5px;
}

.switch-btn__circles--item-active {
  width: 20px !important;
  background-color: var(--accent-color) !important;
  border-radius: 10px;
}

/* Styles for social media icons. */
svg#x-twitter {
  fill: #14171a;
}

svg#discord {
  fill: #5865f2;
}

svg#linkedin {
  fill: #0072b1;
}

/* Footer styles. */
footer {
  padding: 20px;
  font-family: "Tsukimi Rounded", Courier, monospace;
}

/* Styles for the team section. */
.the_team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mechanic-1,
.mechanic-2,
.mechanic-3 {
  text-align: center;
}

.mechanic-3 .mechanic-img {
  zoom: 100%;
}

.mechanic-img {
  border-radius: 15px;
  width: 390px;
  height: 390px;
  top: 15px;
  left: 13px;
  overflow: hidden;
}

.name {
  font-weight: bold;
  margin-top: 10px;
  color: #14171a;
  font-weight: Regular;
  font-size: 30px;
  text-align: center;
  font-family: "Tsukimi Rounded", Courier, monospace;
}

.social-links {
  margin-top: 10px;
  align-self: flex-start;
}

.social-link__item {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-link__item svg {
  width: 20px;
  height: 20px;
}

.discord,
.twitter,
.linkedin {
  background-color: #dddddd;
  border-radius: 20px;
  width: 60px;
}

.view-team {
  z-index: var(--z-index-above-slide);
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50px;
  width: 50px;
  transition: color 0.2s;
  cursor: pointer;
}

.view-team:hover {
  color: var(--accent-color);
}

.view-team__text {
  font-family: "Tsukimi Rounded", Courier, monospace;
}

#view-team__icon {
  transition: rotate 0.4s;
  animation: animateShowTeam 1s infinite cubic-bezier(0.38, 0, 0.5, 1);
}

.footer-span {
  color: #14171a;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 15px;
}

.whitespace {
  margin: 20px;
}

@keyframes animateShowTeam {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
