:root {
  --basic-color: #ffffff;
  --basic-color-light: #ffffff80;
  --accent-color: pink;
  --accent-color-light: rgba(255, 192, 203, 0.568);

  --z-index-above-slide: 5;
  --element-transition-time: 0.1s;

  --number-of-slides: 5;
}

::selection {
  color: var(--accent-color);
  background-color: var(--basic-color);
}

*,
*:link,
*::after,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--basic-color);
}

html,
body {
  scrollbar-width: none;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6em;
  color: var(--basic-color);
}

header.page-header,
.switch-btns,
.descriptions {
  position: absolute;
}

header.page-header,
.switch-btns {
  width: 100%;
  display: flex;
}

header.page-header {
  z-index: var(--z-index-above-slide);
  margin: 3rem 0 0 5rem;
}

.page-header__topic--text {
  font-family: "Satisfy", Courier, monospace;
  font-size: 3rem;
}

.descriptions {
  z-index: calc(var(--z-index-above-slide) - 3);
  right: -7vw;
}

.description__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 35%;
  transition: opacity 1s ease, d 1s ease-out;
  font-family: "Tsukimi Rounded", Courier, monospace;
  text-align: center;
}

.description__svg:not(:first-child) {
  display: none;
}

.description__svg {
  position: absolute;
  top: 1vh;
  right: -50%;
  transition: opacity 1s ease, d 1s ease-out;
}

#blobTarget.description__svg {
  fill: var(--accent-color-light);
}

.image-slideshow {
  width: calc(100vw * var(--number-of-slides));
  display: flex;
  transition: transform 0.8s;
}

.slideshows {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.slideshows.img-1 {
  background-image: url("../images/Icon-G2-Concept-Hypercar.jpg");
}
.slideshows.img-2 {
  background-image: url("../images/Alpine-Alpenglow-concept-car.jpg");
}
.slideshows.img-3 {
  background-image: url("../images/Jackson-Storm.jpg");
}
.slideshows.img-4 {
  background-image: url("../images/Tauro-2030.jpg");
}
.slideshows.img-5 {
  background-image: url("../images/Viritech-Apricale.jpg");
}

.switch-btns {
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 3rem;
  z-index: var(--z-index-above-slide);
}

.switch-btns__direction {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--basic-color);
  background-color: transparent;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: box-shadow var(--element-transition-time),
    transform calc(var(--element-transition-time) + 0.1s),
    border var(--element-transition-time);
}

.switch-btns__direction:hover {
  border-color: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0rem 1rem 5rem var(--accent-color-light);
}
.switch-btns__direction:hover > .switch-btns__icons {
  color: var(--accent-color);
}

.switch-btns__icons {
  font-size: 3rem;
  backface-visibility: hidden;
  transition: font-size var(--element-transition-time),
    color var(--element-transition-time);
}

.switch-btn__circles {
  position: absolute;
  bottom: 17%;
  right: 20%;
  display: flex;
  align-items: center;
  z-index: var(--z-index-above-slide);
}
.switch-btn__circles--item {
  background-color: var(--basic-color);
  height: 10px;
  width: 10px;
  transform-origin: center;
  cursor: pointer;
  /* border-radius: 50%; */
  transition: width 0.3s;
}

.switch-btn__circles--item:not(:last-child) {
  margin-right: 5px;
}

.switch-btn__circles--item-active {
  width: 20px !important;
  background-color: var(--accent-color) !important;
  border-radius: 10px;
}

svg#x-twitter {
  fill: #14171a;
}

svg#discord {
  fill: #5865f2;
}

svg#linkedin {
  fill: #0072b1;
}

@keyframes animateBlob {
}
